.control-filter {
  padding: 39px 20px 34px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 22px 20px;
    width: 202px;
  }
}

.control-filter__bar {
  width: 240px;
  height: 2px;
  background: @togglemenublue;
  position: absolute;
  left: 20px;

  @media (min-width: @tablet-width) {
    left: 74px;
    width: 202px;
  }

  @media (min-width: @desktop-width) {
    left: 92px;
  }
}


.control-filter__toggle {
  position: absolute;
  top: 127px;
  left: 213px;
  width: 14px;
  height: 14px;
  padding: 0;
  background: @white;
  border: 2px solid @pinkyred;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    top: 44px;
  }

  @media (min-width: @desktop-width) {
    top: 44px;
  }
}

.control-filter__toggle--fill {
  @media (min-width: @tablet-width) {
    top: 92px;
  }
}

.control-filter__toggle--brightness {
  @media (min-width: @tablet-width) {
    top: 138px;
  }
}
