.control-filter {
  padding: 39px 20px 34px;
  margin: 0 auto;
}

.control-filter__bar {
  width: 240px;
  height: 2px;
  background: @togglemenublue;
  position: absolute;
  left: 20px;
}


.control-filter__toggle {
  position: absolute;
  top: 127px;
  left: 213px;
  width: 14px;
  height: 14px;
  padding: 0;
  background: @white;
  border: 2px solid @pinkyred;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}
