
.description-header__wrapper {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: @tablet-width) {
    max-width: 598px;
  }

  @media (min-width: @desktop-width) {
    max-width: 780px;
  }
}

.description-header__text {
  .margin-unset();
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  background: @white;
  padding: 46px 5px 34px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    text-align: center;
  }
}
