.header-slogan__text {
  .margin-unset();
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
}

.header-slogan__wrapper {
  background-image: url("../img/back-mobile.png");
  margin: 0 auto;
  max-width: 320px;
  min-height: 365px;
  box-sizing: border-box;
  padding: 29px 20px;
}
