.header-slogan__text {
  .margin-unset();
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  margin-bottom: 345px;
}

.header-slogan__wrapper {
  background-image: url("../img/back-mobile.png");
  margin: 0 auto;
  max-width: 320px;
  /*min-height: 461px;*/
  box-sizing: border-box;
  padding: 29px 20px;
}

.header-slogan__inner-page .header-slogan__text {
  margin-bottom: 60px;
}
