.main-header {
  color: white;
  margin: 0 auto;
}

.main-header__wrapper {
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  min-width: 320px;
  min-height: 462px;
}
