.main-header {
  color: @white;
  margin: 0 auto;
}

.main-header__wrapper {
  background-color: @middleblue;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 320px auto;
  margin: 0 auto;
}
