.page-footer__wrapper {
  padding: 40px 74px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.margin-unset() {
  margin-top: 0;
  margin-bottom: 0;
}

.social-list {
  padding-bottom: 41px;
  padding-top: 41px;
  padding-left: 0;
  .margin-unset();
}

.footer-copyright {
  & p {
    .margin-unset();
  }
}
