.page-inner__header {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: @tablet-width) {
    max-width: @tablet-width;
  }
}

.page-inner__text {
  .margin-unset();
  padding: 54px 20px 13px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.page-inner__text--mobile {
  display: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: inline;
  }
}
