.reviews__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.reviews__author {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.margin-unset() {
  margin-top: 0;
  margin-bottom: 0;
}

.reviews__item {
  text-align: center;
  padding: 50px 20px;
}

.reviews__text {
  .margin-unset();
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding-top: 31px;
}
