.site-nav__wrapper {
  background: @lightblack;
}

.site-nav__content-wrapper {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.site-nav__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  left: 0;
}

.site-nav__link {
  color: @white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  display: block;
  padding: 25px 88px;
  text-transform: uppercase;
  background: @togglemenublue;
  border-top: 1px solid fade(@white, 15%);
  border-bottom: 1px solid @black;
}
