.site-nav__wrapper {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.site-nav__list {
  list-style: none;
  padding-left: auto;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
}

.site-nav__link {
  color: white;
  text-decoration: none;
}

.site-nav__logo {
  padding-top: 22px;
  padding-left: 20px;
  padding-bottom: 21px;
}

.site-nav__toggle {
  margin-bottom: auto;
}
