.subscription-plan__wrapper {
  display: flex;
  justify-content: center;
}

.subscription-plan__item {
  min-width: 276px;
}

.subscription-plan__table {
  margin: 0 auto;
}

table {
  border: 2px solid #e5e5e5;
  border-collapse: collapse;
}

td {
  &:extend(table);
}

tr {
  &:extend(table);
}
